/***********************
****** MON COMPTE ******
************************/

H2 {
    font-size: 4.5em;
    letter-spacing: 15px;
    line-height: 100px;
    font-weight: 500;
    font-family: "Koulen", sans-serif;
}


#account-generalInfo {
    border-radius: 10px;
    width: 60%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    align-self: center;
    margin: auto;
    justify-content: space-around;
    align-items: stretch;
    background-color: rgb(23, 23, 23);
    margin-top: 80px;
    margin-bottom: 60px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
}

#account-generalInfo div:first-of-type {
    display: flex;
    flex-direction: row;
}

#account-generalInfo div:first-of-type div {
    align-self: center;
}

#cadre-pp {
    width: 14vh;
    height: 14vh;
    overflow: hidden;
    border-radius: 100px;
    border: 4px solid rgb(119, 241, 190);
    cursor: pointer;
}

#cadre-pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#account-generalInfo form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#account-generalInfo form button {
    all: unset;
    cursor: pointer;
}

#account-generalInfo form button img {
    width: 3vh;
    height: 3vh;
}


#account-generalInfo div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#account-generalInfo div:nth-of-type(2) p:nth-child(1) {
    font-size: 40px;
    font-weight: 500;
}

#account-generalInfo div:nth-of-type(2) p:nth-child(2) {
    font-size: 30px;
}

#account-generalInfo div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#account-generalInfo div:nth-of-type(3) p {
    font-size: 20px;
    font-weight: 500;
}

#cadre-grade {
    overflow: hidden;
    margin-top: 2vh;
}

#cadre-grade img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 60%;
    padding: 2vh 5vh;
    margin: auto;
    margin-bottom: 60px;
    background-color: rgb(23, 23, 23);
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
}

form div {
    display: flex;
    flex-direction: column;
    max-width: 80vh;
    width: 100%;
    gap: 2vh;
}

form>div {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

form>div>div {
    flex-direction: column;
    gap: 2vh;
}

.container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    font-family: "Koulen", sans-serif;
    font-size: 1em;
    padding: 1vh 2vh;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.container button>a {
    gap: 1vh;
}

.container select,
.container input {
    border-radius: 5px;
    border: 2px solid rgb(169, 169, 169);
    width: 100%;
    height: 5vh;
    background-color: #1E1E1E;
    font-size: 16px;
    color: white;
    padding-left: 2vh;
}

.container p {
    width: 100%;
    margin-bottom: 2vh;
    font-size: 1.5em;
}

.container.buttons-section {
    flex-direction: row;
}

/* save */
.container .save-button {
    background-color: rgb(119, 241, 190);
    margin-top: 2vh;
}

.container button img {
    width: 3vh;
    height: 3vh;
}

.container .save-button img {
    filter: brightness(0);
}

.buttons-section {
    gap: 2vh;
}

.buttons-section button,
.buttons-section form {
    height: stretch;
}

/* discord */
.container.buttons-section>button:first-of-type {
    background-color: rgb(91, 101, 234);
    color: white;
}

.container.buttons-section>button:first-of-type a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: inherit;
}

/* déconnexion */
.container.buttons-section form:first-of-type button {
    background-color: rgb(119, 241, 190);
    color: #1E1E1E;
}

/* supprimer mon compte */
.container.buttons-section form:nth-of-type(2) button {
    background-color: rgb(234, 91, 91);
    color: rgb(0, 0, 0);
}

.container.buttons-section form:nth-of-type(2) button img {
    filter: brightness(0);
}

@media all and (max-width: 1024px) {
    nav {
        display: none;
    }

    .container.buttons-section {
        flex-direction: column;
    }
}



/***********************
****** MES ACHATS ******
************************/

#historique-achats {
    width: 70%;
    margin: auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.107);
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}


#historique-achats table {
    width: 100%;
    border-radius: 15px;
    background-color: #1E1E1E;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: hidden;
}

#historique-achats table thead {
    border-bottom: 20px solid #1a1a1a;
    border-radius: 15px;
    overflow: hidden;
}

#historique-achats table th {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
}

#historique-achats table td {
    padding: 10px;
    color: white;
}

#historique-achats table tbody tr {
    text-align: center;
}

#historique-achats table tbody tr:not(:last-of-type) {
    border-bottom: 1px solid white;
}

/* Style du bouton */

#viewAll-form {
    align-self: flex-end;
    background-color: none;
}

#viewAll-form button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    opacity: 80%;
}


#viewAll-form button:hover {
    opacity: 100%;
}